{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
	
	<style>
		body{
			background-image: url({{asset('assets/img/bg/pattern.svg')}});
			background-position:center;
		}

		.login-box{
			margin-top:200px;
		}
		.login-box form{
			box-shadow: 0px 0px 12px #8e8e8e;

		}

		.login-box form h4{
			text-align: center;
		}
	</style>

	<div  class="container pt-2">
		  <div style="" class="row login-box">
		  	<div class="col s0 m3"></div>
		    <form style="background-color:white;" method="POST" action="{{path('login')}}" class="col s12 m6">
		      <div class="row">
		      	<h4>MBlogs CMS</h4>

		      	<div class="container">
		      		{% if error.messagekey is defined %}
						<small class="red-text">{{error.messagekey|trans(error.messageData, 'security')}}</small>
					{% endif %}
		      	</div>

		        <div class="input-field col s12">
		          <i class="material-icons prefix">person_pin</i>
		          <input id="username" name="_username" type="email" class="">
		          <label for="username">Email</label>
		        </div>
		        <div class="input-field col s12">
		          <i class="material-icons prefix">lock_outline</i>
		          <input id="password" name="_password" type="password" class="">
		          <label for="password">Password</label>
		        </div>
		        <div class="input-field col s12">
		        	<input type="submit" class="col s12 btn" value="Login">
		        </div>
		      </div>
		    </form>
		  	<div class="col s0 m3"></div>

		  </div>
	</div>

{% endblock %}
