<div class="container">
	<div class="row">
		<p>To start working with MBlogs CMS, you will need to start by creating a new site. This is really simple and you will have it ready in a few seconds, if you still don't have a site available you can see how to do it <a class="bold teal-text" href="">here</a>, if on the opposite you already have a site you will simply have to look at its apikey.</p>

	    <img class="materialboxed" width="100%" src="{{asset('assets/img/docs/api-doc/apikey.jpg')}}">

	    <p>You must also know the address of the host, or what is the same the domain that refers to your manager.</p>

	    <img class="materialboxed mx-auto" width="60%" src="{{asset('assets/img/docs/api-doc/constructor.jpg')}}">

	    <p>Now you are ready to use the API, simply create an object of type ApiConsumer in your client application and add as parameters to the constructor the domain of your manager and the ApiKey of the site you wish to use.</p>

	</div>
</div>