<div class="container">
	<div class="row">
		<p>We'll teach you how to use the pre-defined templates we offer. In less than 10 minutes you will have your website up and running.</p>

		<h5 class="teal-text bold">Config the templates</h5>

		<p>In the config.php file you will find all the parameters you need to configure to have your website working. The first ones are the domain of your manager (host) and the apikey of your site.</p>

	    <img class="materialboxed mx-auto" width="60%" src="{{asset('assets/img/docs/api-doc/templaete-config-host-apikey.jpg')}}">

	    <p>Next you must indicate the name of the image that represents the logo of your site, this image must be saved in the folder img.</p>

	    <img class="materialboxed mx-auto" width="60%" src="{{asset('assets/img/docs/api-doc/templaete-config-logo.jpg')}}">

	    <p>The following options are not required, but could help you customize the site. $post_number indicates the number of posts featured on your homepage, $post_number_aside allows you to modify the number of related posts displayed in the sidebar.</p>

	    <img class="materialboxed mx-auto" width="60%" src="{{asset('assets/img/docs/api-doc/templaete-config-post-number.jpg')}}">

	    <p>Now you can decide whether or not to display a banner in the sidebar. You can also modify the link and the banner image. The image must be saved in the img folder.</p>
	    <img class="materialboxed mx-auto" width="60%" src="{{asset('assets/img/docs/api-doc/templaete-config-banner.jpg')}}">


	</div>
</div>